[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.100.0"
uvicorn = "==0.22.0"
motor = "==3.2.0"
python-dotenv = "==1.0.0"
isort = "*"
websockets = "==11.0.3"

[dev-packages]

[requires]
python_version = "3.11"
